*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header{
    margin-bottom: 50px;
    background-color: white;
}

header h1{
    display: inline-block;
    line-height: 60px;
    text-align: center;
}

.container{
    width: 100%;
    min-height:1000px;
    padding: 20px auto 5px;
    background-color:#F6F8F9;
}

main{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 3px;
}

nav{
    padding: 15px 0 10px 35px;
    border-bottom: 2px solid #F6F8F9;
}

nav button{
    padding:5px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
}

#Button_section{
     background-color: white;
    color:#C5CBD0;
    border:1px solid #C5CBD0;
}

#Button_task{  
    background-color: #45ABEA;
    color: white;
    border:1px solid #45ABEA;
}

section{
    padding: 25px;
}

section div{
    display: inline-block;
    color:#97D8CA;
    border: 1px solid #97D8CA;
    border-radius: 60%;
    padding: 3px;
    margin: 10px;
    font-weight: bolder;
    font-size: 0.5rem;
}

.cross{
    color: #EB5A53;
    border: 1.5px solid #EB5A53;
    font-weight: bold;
}

span{
    background-color: #45ABEA;
    border-radius: 10px;
    font-size: 0.60rem;
    padding: 5px 10px;
    color: white;
}

.Q1{
    background-color:#9C72E4;
}

.Recruiting{
    background-color:#64C0A9;
}

.Mobile{
    background-color:#F29E33;
}

.Website{
    background-color:#D863A1;
}

.Sales{
    background-color:#B0C926;
}



